<div class="container-fluid">
    
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="/Default/Index/" class="text-decoration-none d-flex align-items-center firsatkap-logo-link">
                <span class="firsatkap-logo-text">
                    <span class="firsatkap-logo-firsat">Fırsat</span><span class="firsatkap-logo-kap">Kap</span>
                </span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Aranacak Ürünü Giriniz">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Telefon Numaramız</p>
            <h5 class="m-0">+90 123 456 6789</h5>
        </div>
    </div>
</div>